@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: "Nunito Sans", sans-serif !important;
    background-color: #95d0fd;
}

/* ==================================================== */

a{
    text-decoration: none;
}

nav{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding-inline: 32px;
    padding-top: 32px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    z-index: 3;
    transition: all 1s ease;
}

.navbar.scrolled {
    padding-top: 20px;
    transition: all 1s ease;
}

.navbar.scrolled a {
    color: #494949;
    transition: all 1s ease;

}

.nav-left{
    width: 163px;
    height: 40px;
    background-image: url("assets/brand_seakun_white.svg");
    background-repeat: no-repeat;
    background-size: 163px 40px; 
    transition: all 1s ease;
}

.nav-left.scrolled {
    width: 163px;
    height: 40px;
    background-image: url("assets/brand_seakun.svg");
    background-repeat: no-repeat;
    background-size: 163px 40px; 
    z-index: 1;
    transition: all 1s ease;
}

.navbar img {
    transition: filter 0.3s ease;
}

header.scrolled {
    align-items: center;
    top: 0;
    gap: 40px;
    padding-inline: 32px;
    padding-top: 32px;
    width: 100%;
    height:43px;
    position: fixed;
    background-color: white;
    z-index: 2;
    opacity: 1;
    transition: all 1s ease;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1) !important;
}

nav .nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: all 1s ease;
}

nav .nav-right a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    transition: all 1s ease;
}

nav .nav-right a:hover{
    color: #c6e6fe;
}

nav .nav-right .icon{
    display: none;
}

.login {
    background-color: transparent;
    padding-inline: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid white;
    border-radius: 8px;
}

.login.scrolled {
    color: white !important;
    background-color: #00ba88;
    border: 1px solid #00ba88;
    transition: all 1s ease;
}

/* ================================ */

.container-1{
    display: flex;
    padding-top: 45px;
    align-items: center;
    flex-direction: column;
}

.container-1 .container-1-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 260px;
    padding-inline: 160px;
}

.container-1 .text-white, .text-white-sm{
    color: white;
    margin-top: 0;;
}

.container-1 .text-white{
    font-size: 32px;
    font-weight: 800;
    width: auto;
}

.container-1 .text-white-sm{
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 28px;
}

.container-1 .container-1-top .container-1-left .btn a{
    background-color: #08a081;
    border-color: #08a081;
    color: white;
    font-weight: 700;
    padding-inline: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
}

.container-1 .container-1-top .container-1-left .download {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    gap: 15px;  
}

.container-1-right img{
    width: 400px;
}

.container-1 .container-1-bottom img{
    width: 100%;
    position: relative;
    bottom: -7px;
}

/* ================================ */

.container-2 {
    background-color: white;
    position: relative;
    padding-top: 112px;
    padding-bottom: 86px;
    padding-inline: 340px;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}

.content-header {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 360px;
}

.content-header h2 {
    font-size: 28px;
    font-weight: 700;
    color: #222;
    margin-bottom: 0;
}

.content-header p {
    font-size: 14px;
    font-weight: 200;
    color: #333;
    margin: 0;
}

.counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 35px;
}

.counter-item {
    width: 156px;
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 60px;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.counter-item img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    width: 175px;
}

.products {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-inline: 340px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 35px;
}

.products h2{
    margin: 0;
    font-size: 32px;
    text-align: left;
}

.products .product-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products .product-filter .filter-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.products .product-filter .filter-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input{
    border: none;
}

input[type=search]{
   height: 52px;
   width: 400px;
   padding-left: 15px;
   padding-right: 40px;
   border-radius: 8px;
   border: 2px solid gray !important;
}

input[type=search]:focus{
    border: 2px solid gray !important;
}

select{
    height: 52px;
    width: 200px;
    padding-left: 15px;
    padding-right: 0px;
    border-radius: 8px;
    border: 2px solid gray;
    color: gray;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.card{
    border-radius: 12px;
    padding: 16px;
    max-width: 300px;
    box-shadow: 0 0 16px rgba(0,0,0,.06);
}

.product-header{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding-top: 20px;
}

.product-header img{
    width: 45px;
}

.product-header span{
    font-weight: bold;
    display: flex;
    align-items: center;
}

.gap-1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mb-0{
    margin-bottom: 35px;
}

.mb-1{
    margin-bottom: 89px;
}

.mb-2{
    margin-bottom: 143px;
}

.mb-3{
    margin-bottom: 197px; 
}

.hr{
    border: 1px solid #f6f6f6;
    margin-top: 15px;
    margin-bottom: 15px;
}

.price-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.duration{
    /* box-shadow: 0 0 1rem rgba(0, 0, 0, .6); */
    background-color: #e9faf5;
    color: #00ba88;
    border-radius: 20px;
    padding: 0;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.short-text{
    display: none;
}

.duration span{
    font-size: x-small;
    font-weight: bold;
}

.pesan {
    background-color: #08a081;
    border-color:#08a081 !important;
    padding-inline: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

.pesan a{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.product-nd{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.product-nd .product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
}

.product-nd .product-list .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

.product-nd .product-list .card .product-name{
    color:#00ba88;
    font-size: 16px;
    font-weight: 800;
    padding-top: 12px;
}

.product-nd .product-list .card .long-name{
    color:#00ba88;
    font-size: 12px;
    font-weight: 400;
    padding-top: 7px;
    padding-bottom: 12px;
}

.product-nd .product-list .card img{
    width: 120px;
}

.product-nd .product-list .card .pesan{
    padding-inline: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 8px;
    width: 60%;
}

@media screen and (max-width: 1440px) {
    nav {
        width: 78%;
    }

    .nav-left{
        width: 163px;
        height: 40px;
        background-size: 155px 40px;
    }

    nav .nav-right{
        gap: 30px; 
    }

    .container-1 .container-1-top{
        padding-inline: 160px;
    }

    .container-2 {
        padding-inline: 140px;
    }

    .products{
        padding-inline: 0;
    }

    .products h2{
        padding-inline: 160px;
    }

    .product-filter{
        padding-inline: 160px;
    }

    .product-list{
        padding-inline: 160px;
    }

    .price-list{
        gap: 36px;
    }

    .product-nd p{
        padding-inline: 160px;
    }

    .product-nd .product-list{
        gap: 41px;
    }
}

@media screen and (max-width: 1024px) {
    nav {
        width: 94%;
        padding-inline: 0px;
    }

    .nav-left{
        width: 155px;
        height: 40px;
        background-size: 155px 40px;
    }

    nav .nav-right{
       gap: 30px; 
    }
    
    .container-1 .container-1-top{
        padding-inline: 38px;
    }

    .container-2 {
        padding-inline: 38px;
    }
    
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-header {
        text-align: center;
        max-width: 1000px;
    }

    .content-header p {
        padding-top: 7px;
    }

    .counter{
        padding-top: 70px;
        justify-content: center;
        align-items: center;
    }

    .products{
        padding-inline: 0;
    }

    .products h2{
        padding-inline: 38px;
        font-size: 28px;
    }

    .product-filter{
        padding-inline: 38px;
    }

    .product-list{
        padding-inline: 0px;
    }

    .price-list{
        gap: 36px;
    }

    .product-nd p{
        padding-inline: 38px;
    }

    .product-nd .product-list{
        justify-content: center;
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        width: 92%;
        padding-top: 20px;
        padding-inline: 0px;
    }

    .nav-left{
        width: 124px;
        height: 32px;
        background-size: 124px 32px;
    }

    nav .nav-right a{
       display: none; 
    }

    nav .nav-right .icon{
        display: block;
    }

    .container-1 .container-1-top{
        padding-inline: 0px;
        gap: 50px;
        justify-content: space-between;
    }

    .container-1 .text-white{
        font-size: 24px;
    }

    .container-1 .text-white p {
        margin-bottom: 0px;
    }
    
    .container-1 .text-white-sm{
        font-size: 16px;
    }

    .container-1-right img{
        width: 300px;
    }

    .container-2 {
        padding-inline: 0px;
    }
    
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-header {
        text-align: center;
        max-width: 700px;
    }

    .content-header h2 {
        font-size: 24px;
    }

    .content-header p {
        padding-top: 7px;
    }

    .counter{
        padding-top: 70px;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .counter .counter-item img{
        width: 160px;
    }

    .products{
        padding-inline: 0;
    }

    .products h2{
        padding-inline: 38px;
        font-size: 24px;
    }

    .product-filter{
        padding-inline: 38px;
    }

    .products .product-filter .filter-right{
        gap: 10px;
    }

    input[type=search]{
        width: 280px;
    }

    select{
        width: 195px;
    }

    .product-list{
        padding-inline: 0px;
    }

    .price-list{
        gap: 36px;
    }

    .product-nd p{
        padding-inline: 38px;
    }

    .product-nd .product-list{
        justify-content: center;
        gap: 10px;
    }
}

@media screen and (max-width: 425px) {
    nav {
        width: 92%;
        padding-top: 16px;
        padding-inline: 10px;
        margin-right: 0px;
    }
    
    .nav-left{
        padding-top: 15px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 93px;
        height: 24px;
        background-size: 93px 24px;
        gap: 0px;
    }

    nav .nav-right a{
       display: none; 
    }

    nav .nav-right .icon{
        display: block;
    }

    .container-1 .container-1-top{
        padding-inline: 0px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 23px;
    }

    .container-1 .text-white{
        padding: 0px;
        margin-top: 0px;
        font-size: 20px;
    }

    .container-1 .text-white p {
        margin: 0px;
    }
    
    .container-1 .text-white-sm{
        font-size: 13px;
    }

    .container-1 .text-white-sm p{
        margin-top: 10px;
    }

    .container-1 .container-1-top .container-1-left .btn a{
        padding-inline: 96px;        
    }
    
    .container-1 .container-1-top .container-1-left .download{
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 37px;
    }

    .container-1-right img{
        width: 300px;
    }

    .container-2 {
        padding-inline: 0px;
        padding-top: 70px;
        padding-bottom: 0px;
    }
    
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-header {
        text-align: center;
        max-width: 700px;
    }

    .content-header h2 {
        font-size: 19px;
    }

    .content-header p {
        padding-top: 7px;
    }

    .counter{
        padding-top: 70px;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .products{
        padding-top: 0px;
        padding-inline: 0;
        gap: 15px;
    }

    .products h2{
        padding-inline: 47px;
        font-size: 19px;
    }

    .product-filter{
        padding-inline: 0px;
        flex-direction: column;
    }

    .products .product-filter .filter-right{
        gap: 10px;
    }

    input[type=search]{
        width: 332px;
    }

    select{
        margin-top: 10px;
        width: 160px;
    }

    .product-list{
        padding-inline: 0px;
        gap: 10px;
    }

    .card{
        width: 144px;
        padding: 8px;
    }

    .product-list .card .product-header img{
        width: 30px;
    }

    .product-list .card .product-header span{
        font-size: 13px;
    }

    .price-list{
        gap: 10px;
    }

    .price-list .price span{
        font-size: 10px;
    }

    .price-list .duration{
        width: 60px;
        height: 20px;
    }

    .price-list .duration span{
        font-size: 8px;
    }

    .full-text{
        display: none;
    }

    .short-text{
        display: inline;
    }

    .gap-1{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .mb-0{
        margin-bottom: 15px;
    }
    
    .mb-1{
        margin-bottom: 64px;
    }
    
    .mb-2{
        margin-bottom: 30px;
    }
    
    .mb-3{
        margin-bottom: 79px; 
    }
    
    .hr{
        border: 1px solid #f6f6f6;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .product-nd h2{
        margin-bottom: 47px;
    }

    .product-nd p{
        display: none;
    }

    .product-nd .product-list{        
        gap: 32px;
        padding-inline: 30px;
    }

    .product-nd .product-list .card{
        width: 80px;
    }

    .product-nd .price-list .card img{
        height: 63px;
    } 

    .product-nd .product-list .card .product-name{
        font-size: 13px;
    }

    .product-nd .product-list .card .long-name{
        font-size: 11px;
    }

    .product-nd .product-list .card .pesan{
        font-size: 13px;
        padding-inline: 15px;
    }

}

@media screen and (max-width: 375px) {
    nav {
        width: 92%;
        padding-top: 16px;
        padding-inline: 24px;
    }
    
    .nav-left{
        padding-top: 15px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 93px;
        height: 24px;
        background-size: 93px 24px;
        gap: 0px;
    }

    nav .nav-right a{
       display: none; 
    }

    nav .nav-right .icon{
        display: block;
    }

    .container-1 .container-1-top{
        padding-inline: 0px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 23px;
    }

    .container-1 .text-white{
        padding: 0px;
        margin-top: 0px;
        font-size: 20px;
    }

    .container-1 .text-white p {
        margin: 0px;
    }
    
    .container-1 .text-white-sm{
        font-size: 13px;
    }

    .container-1 .text-white-sm p{
        margin-top: 10px;
    }

    .container-1 .container-1-top .container-1-left .btn a{
        padding-inline: 96px;        
    }
    
    .container-1 .container-1-top .container-1-left .download{
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 37px;
    }

    .container-1-right img{
        width: 300px;
    }

    .container-2 {
        padding-inline: 0px;
        padding-top: 70px;
        padding-bottom: 0px;
    }
    
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-header {
        text-align: center;
        max-width: 700px;
    }

    .content-header h2 {
        font-size: 19px;
    }

    .content-header p {
        padding-top: 7px;
    }

    .counter{
        padding-top: 70px;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .products{
        padding-top: 0px;
        padding-inline: 0;
        gap: 15px;
    }

    .products h2{
        padding-inline: 27px;
        font-size: 19px;
    }

    .product-filter{
        padding-inline: 0px;
        flex-direction: column;
    }

    .products .product-filter .filter-right{
        gap: 10px;
    }

    input[type=search]{
        width: 332px;
    }

    select{
        margin-top: 10px;
        width: 160px;
    }

    .product-list{
        padding-inline: 0px;
        gap: 10px;
    }

    .card{
        width: 144px;
        padding: 8px;
    }

    .product-list .card .product-header img{
        width: 30px;
    }

    .product-list .card .product-header span{
        font-size: 13px;
    }

    .price-list{
        gap: 10px;
    }

    .price-list .price span{
        font-size: 10px;
    }

    .price-list .duration{
        width: 60px;
        height: 20px;
    }

    .price-list .duration span{
        font-size: 8px;
    }

    .full-text{
        display: none;
    }

    .short-text{
        display: inline;
    }

    .gap-1{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .mb-0{
        margin-bottom: 15px;
    }
    
    .mb-1{
        margin-bottom: 64px;
    }
    
    .mb-2{
        margin-bottom: 30px;
    }
    
    .mb-3{
        margin-bottom: 79px; 
    }
    
    .hr{
        border: 1px solid #f6f6f6;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .product-nd h2{
        margin-bottom: 20px;
    }

    .product-nd p{
        display: none;
    }

    .product-nd .product-list{        
        gap: 12px;
    }

    .product-nd .product-list .card{
        width: 80px;
    }

    .product-nd .price-list .card img{
        height: 63px;
    } 

    .product-nd .product-list .card .product-name{
        font-size: 13px;
    }

    .product-nd .product-list .card .long-name{
        font-size: 11px;
    }

    .product-nd .product-list .card .pesan{
        font-size: 13px;
        padding-inline: 15px;
    }

}